<h1>My Edit</h1>
<%= form_for(@post) do |f| %>
<h1>My Edit</h1>
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>
<h1>My post desc</h1>
  <label>Post Description</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>
